body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-screen .player-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-screen .player-grid .grid {
  border: 2px solid black;

  display: grid;
  grid-template: repeat(10, 50px) / repeat(10, 50px);
  width: fit-content
}

#game-screen .player-grid .grid .cell {
  border: 2px solid black;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
