/* Game Screen */

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#player-grids {
  display: flex;
  justify-content: space-evenly;
}

.player-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  border: 2px solid black;

  display: grid;
  grid-template: repeat(10, 50px) / repeat(10, 50px);
  width: fit-content
}

.cell {
  border: 2px solid black;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cell:hover {
  border-color: yellow;
}

.none {
  color: white;
}

.miss {
  background-color: lightgrey;
  color: darkgrey;
}

.flag {
  background-color: darkgrey;
  color: grey;
}

.show-ship {
  background-color: lightblue;
  color: lightblue;
}

.hit {
  background-color: pink;
  color: red;
}

.sunk {
  border-color: red;
}