#game-screen .grid {
  border: 2px solid black;

  display: grid;
  grid-template: repeat(10, 50px) / repeat(10, 50px);
  width: fit-content
}

#game-screen .grid .cell {
  border: 2px solid black;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
